
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <a href="#" class="thumbnail">
                                <img src="/content/Images/user.png">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <h4><Strong>Nombre Banda/Solista</Strong></h4>
                            <h4>Nombre de Usuario: </h4>
                            <h4>Se inscribio el: </h4>
                            <h4>GENERO MUSICAL: </h4>
                            <h4>Año de Creacion</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-md-offset-2">
                            <div class="panel panel-default">
                                <!-- Default panel contents -->
                                <div class="panel-heading">Integrantes</div>
                                <div class="panel-body">
                                    <p>...</p>
                                </div>

                                <!-- Table -->
                                <table class="table">
                                    ...
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-md-offset-2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Bibliografia</h3>
                                </div>
                                <div class="panel-body">
                                    Panel content
                                </div>
                            </div>

                        </div>

                        </div>
                </div>
           </div>
      </div>
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">...</p>
                        </a>
                    </div>
                </div>
            </div>
         </div>
      </div>
   </div>

